@media (max-device-width: 480px) and (orientation: portrait) {
  @-ms-viewport{
    width:320px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, field set, legend,
input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
	-webkit-appearance:none;
}

input, textarea, select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}

input:password {
  ime-mode:disabled;
}

*:focus {
  outline:none;
}

a{
  color:#2982e5;
  text-decoration:none;
}

a:active {
  color:#f60;
}

body {
  background-color:#efeff4;
}

#doc {
  height: 100%;
  line-height:1.4;
}

.action button:active,
.action button[disabled] {
  color:#fff;
  background-color:#0044cc;
}

.action button:focus {
  outline:thin dotted #333;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}

.action button[disabled] {
  cursor:default;
  background-color:#ccc;
  background-image:none;
  border-color:#ccc;
  box-shadow:none;
}

.message {
  border-bottom:0;
  background-color:#efeff4;
  /*min-height:300px;*/
  padding-bottom: 100px;
}
.message section a{
  /*white-space:nowrap*/
}

.message:after {
  display:block;
  clear:both;
  height:0;
  content:"\0020";
}
section,div.robot {
  padding:10px;
  clear:both;
}

div.robot,section.robot, section.service,section.top-message {
  float:left;
}

div.robot>div,
section.robot>div,
section.service>div,
section.top-message>div{
  max-width: 225px;
  display: inline-block;
  position:relative;
  padding:12px;
  margin:0 20px 0 10px;
  border-radius:10px;
  background-color:#fff;
  box-shadow: inset 0 0 1px #fff;
  vertical-align: top;
}
div.robot>div:before,
section.robot>div:before,
section.service>div:before,
section.top-message>div:before,
.system .windowContent:before{
  content:"";
  position: absolute;
  left: -5px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-right: 7px solid #fff;
  border-bottom: 4px solid transparent;
}
section.user {
  float:right;
  text-align:right;
}
section.user>div {
  max-width: 225px;
  position:relative;
  display: inline-block;
  padding:8px;
  margin:0 10px 0 12px;
  text-align:left;
  border-radius:10px;
  color:#fff;
  box-shadow: inset 0 0 1px #007aff;
  background-color:#007aff;
  vertical-align: top;
  word-break: break-all;
}
section.user>div:before {
  content:"";
  position: absolute;
  right: -5px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-left: 7px solid #007aff;
  border-bottom: 4px solid transparent;
}
.system {
  text-align:center;
  color:#999;
  font-size:.8em;
}

.input-box {
  display:-webkit-box;
  display:-ms-flexbox;
  display:-moz-box;
  position:fixed;
  bottom: 0;
  padding:8px 10px;
  width:100%;
  box-shadow:0 0 1px #000;
  background-color:#fff;
  height: 100px;
}

.input-box .input {
  -webkit-box-flex:1;
  -ms-flex:1;
  -moz-box-flex:1;
  background-color:#fff;
   -webkit-box-flex:1;
  /*height: 28px;*/
  line-height:25px;
}

.input input {
	margin:0;
	float: left;
	padding:0 6px;
	height:28px;
	width:93%;
	font-size:14px;
	background-color: #fbfbfb;
	border:none;
	-webkit-border-radius:15px;
	border-radius:15px;
	color:#000;
	box-shadow:0 0 1px #000;
}

.input input[disabled] {
  background-color:#eee;
}

.input-box button {
  font-size: 15px;
  /*margin-left:11px;*/
 float: right;
}

section.robot>.robot-comment {
  padding: 0;
}
.robot-comment .robot-comment-title{
    padding: 8px;
}
.service-comment button, .robot-comment button {
  padding:2px 12px;
  margin:0 8px;
}
.robot-comment button{
    margin: 0;
}
section.service-comment>div{
    padding: 0;
    padding-top: 10px;
}
.message .robot .btn-robot{
    padding: 0;
}
.btn-robot .btn-title{
    padding: 8px;
}

button.btn-no{
  border-radius:0 0 0 8px;
}
button.btn-yes{
  border-radius:0 0 8px 0;
}
.robot-comment button:last-child{
    border-left:  1px solid #7bb3db;
}
.robot-comment .isClicked,.service-comment .isClicked{
    background: #93c3e5;
}
button:active, button[disabled]{
    color: #999;
}
section .msg-system{
  color: #999;
  font-size: 13px;
}
section .msg-system a{
  font-size:13px;
}
section .msg-system a.isClicked{
  color:#999;
}